In [1]:
import pandas as pd

In [2]:
%timeit pd.read_csv('grid.csv')

19.7 s ± 822 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [3]:
%timeit pd.read_feather('grid.feather')

577 ms ± 12.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [27]:
df = pd.read_feather('grid.feather')
# display(df)

In [42]:
df.loc[1452]

lrat      0.10
He2H      0.05
TeffA    10.00
loggA    18.00
rotA     10.00
TeffB    16.00
loggB    20.00
rotB      0.00
Name: 1452, dtype: float64

In [43]:
df_res = pd.read_feather('minchi2_result_2022-09-18.feather')
display(df_res[1450:1465])

,lrat,He2H,TeffA,loggA,rotA,TeffB,loggB,rotB,chi2_tot,chi2A,chi2B,chi2r_tot,chi2redA,chi2redB
1450,0.1,0.05,10,18.0,0,37.5,45.0,500,NaN,NaN,NaN,NaN,NaN,NaN
1451,0.1,0.05,10,18.0,0,37.5,45.0,550,NaN,NaN,NaN,NaN,NaN,NaN
1452,0.1,0.05,10,18.0,10,16.0,20.0,0,24.735996,9.777080,14.958916,0.024441,0.008561,0.015880
1453,0.1,0.05,10,18.0,10,16.0,20.0,50,23.123296,8.286865,14.836431,0.023006,0.007256,0.015750
1454,0.1,0.05,10,18.0,10,16.0,20.0,100,23.312490,8.286865,15.025625,0.023207,0.007256,0.015951
1455,0.1,0.05,10,18.0,10,16.0,20.0,150,23.529781,8.286865,15.242916,0.023438,0.007256,0.016181
1456,0.1,0.05,10,18.0,10,16.0,20.0,200,23.689502,8.286865,15.402637,0.023607,0.007256,0.016351
1457,0.1,0.05,10,18.0,10,16.0,20.0,250,23.762819,8.286865,15.475954,0.023685,0.007256,0.016429
1458,0.1,0.05,10,18.0,10,16.0,20.0,300,23.744240,8.286865,15.457374,0.023666,0.007256,0.016409
1459,0.1,0.05,10,18.0,10,16.0,20.0,350,23.677203,8.286865,15.390338,0.023594,0.007256,0.016338
1460,0.1,0.05,10,18.0,10,16.0,20.0,400,NaN,NaN,NaN,NaN,NaN,NaN
1461,0.1,0.05,10,18.0,10,16.0,20.0,450,NaN,NaN,NaN,NaN,NaN,NaN
1462,0.1,0.05,10,18.0,10,16.0,20.0,500,NaN,NaN,NaN,NaN,NaN,NaN
1463,0.1,0.05,10,18.0,10,16.0,20.0,550,NaN,NaN,NaN,NaN,NaN,NaN
1464,0.1,0.05,10,18.0,10,16.0,22.5,0,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_dict = df[:20].to_dict()
print(df_dict)

{'lrat': {0: 0.1, 1: 0.1, 2: 0.1, 3: 0.1, 4: 0.1, 5: 0.1, 6: 0.1, 7: 0.1, 8: 0.1, 9: 0.1, 10: 0.1, 11: 0.1, 12: 0.1, 13: 0.1, 14: 0.1, 15: 0.1, 16: 0.1, 17: 0.1, 18: 0.1, 19: 0.1}, 'He2H': {0: 0.05, 1: 0.05, 2: 0.05, 3: 0.05, 4: 0.05, 5: 0.05, 6: 0.05, 7: 0.05, 8: 0.05, 9: 0.05, 10: 0.05, 11: 0.05, 12: 0.05, 13: 0.05, 14: 0.05, 15: 0.05, 16: 0.05, 17: 0.05, 18: 0.05, 19: 0.05}, 'TeffA': {0: 10, 1: 10, 2: 10, 3: 10, 4: 10, 5: 10, 6: 10, 7: 10, 8: 10, 9: 10, 10: 10, 11: 10, 12: 10, 13: 10, 14: 10, 15: 10, 16: 10, 17: 10, 18: 10, 19: 10}, 'loggA': {0: 18, 1: 18, 2: 18, 3: 18, 4: 18, 5: 18, 6: 18, 7: 18, 8: 18, 9: 18, 10: 18, 11: 18, 12: 18, 13: 18, 14: 18, 15: 18, 16: 18, 17: 18, 18: 18, 19: 18}, 'rotA': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0}, 'TeffB': {0: 16.0, 1: 16.0, 2: 16.0, 3: 16.0, 4: 16.0, 5: 16.0, 6: 16.0, 7: 16.0, 8: 16.0, 9: 16.0, 10: 16.0, 11: 16.0, 12: 16.0, 13: 16.0, 14: 16.0, 15: 16.0, 16: 16.0, 17: 16.0, 18: 16.0, 19: 16.0}, 'loggB': {0: 20.0, 1: 20.0, 2: 20.0, 3: 20.0, 4: 20.0, 5: 20.0, 6: 20.0, 7: 20.0, 8: 20.0, 9: 20.0, 10: 20.0, 11: 20.0, 12: 22.5, 13: 22.5, 14: 22.5, 15: 22.5, 16: 22.5, 17: 22.5, 18: 22.5, 19: 22.5}, 'rotB': {0: 0, 1: 50, 2: 100, 3: 150, 4: 200, 5: 250, 6: 300, 7: 350, 8: 400, 9: 450, 10: 500, 11: 550, 12: 0, 13: 50, 14: 100, 15: 150, 16: 200, 17: 250, 18: 300, 19: 350}}

In [19]:
df_dict = df[:2000000].to_dict("index")

In [21]:
temp = df.apply(lambda x: x.strip())

AttributeError: 'Series' object has no attribute 'strip'

In [6]:
import random
end_value = 100
dictionary_list = []
for i in range(0, end_value, 1):
    dictionary_data = {k: random.random() for k in range(30)}
    dictionary_list.append(dictionary_data)

In [ ]:
print(dictionary_list)

In [26]:
import random as rd
import time
# Given a dataframe from api (model as random numbers)
df_columns = ['A','B','C','D','F','G','H','I']
dict_origin = {col:[rd.randint(0,10) for x in range(0,100000)] for col in df_columns}
dict_origin = pd.DataFrame(dict_origin)

#Transform to pivot table
t0 = time.time()
df_pivot = pd.pivot_table(dict_origin,values=df_columns[-3:],index=df_columns[:-3])
t1 = time.time()
print('Pivot Construction takes: ' + str(t1-t0))

#Iterate over all elements in pivot table
t0 = time.time()
for column in df_pivot.columns:
    for row in df_pivot[column].index:
        test = df_pivot[column].loc[row]
t1 = time.time()
print('Dataframe iteration takes: ' + str(t1-t0))

#Iterate over all values in pivot table
t0 = time.time()
v = df_pivot.values
for row in range(df_pivot.shape[0]):
    for column in range(df_pivot.shape[1]):
        test = v[row, column]
t1 = time.time()
print('Iteration over values takes: ' + str(t1-t0))

#Iteration over dataframe too slow. Cast to dictionary (bottleneck)
t0 = time.time()
df_pivot = df_pivot.to_dict('index')
t1 = time.time()
print('Cast to dictionary takes: ' + str(t1-t0))

#Iteration over dictionary is much faster
t0 = time.time()
for row in df_pivot.keys():
    for column in df_pivot[row]:
        test = df_pivot[row][column]
t1 = time.time()
print('Iteration over dictionary takes: ' + str(t1-t0))

Pivot Construction takes: 0.04311513900756836
Dataframe iteration takes: 11.668825149536133
Iteration over values takes: 0.1644001007080078
Cast to dictionary takes: 0.17926931381225586
Iteration over dictionary takes: 0.03969907760620117

In [ ]:
df_columns = ['A','B','C','D','F','G','H','I']
dict_origin = {col:[rd.randint(0,10) for x in range(0,1000)] for col in df_columns}
dict_origin = pd.DataFrame(dict_origin)
df_columns = ['A','B','C','D','F','G','H','I']
dict_origin = {col:[rd.randint(0,10) for x in range(0,1000)] for col in df_columns}
dict_origin = pd.DataFrame(dict_origin)

df_pivot = pd.pivot_table(dict_origin,values=df_columns[-3:],index=df_columns[:-3])
df_pivot = pd.pivot_table(dict_origin,values=df_columns[-3:],index=df_columns[:-3])